<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/User/Index/" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>
            </li>
            <li>
                <a href="/Product/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Ürünler</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Teklifler</span>
                </a>
            </li>
            <li>
                <a href="/Customer/Index/" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Müşteriler</span>
                </a>
            </li>
        </ul>
    </div>
</div>
